@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

header {
    font-family: Bebas neue, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}
/* nav bar */

#nav {
    float: right;
    list-style-type: none;
    color: #3a3a3a;
    font-size: 200%;
}

#nav li {
    display: inline;
}

/* resources page */

#personal {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    text-align: center;
    font-size: 125%;
    padding-top: 100px;
    
}

#resources {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    text-align: center;
    font-size: 125%;
    padding-top: 100px;
    padding-bottom: 50px;
}

#title {
    float: left;
    font-size: 300%;

}

/* images */

img {
    height: 300px;
    width: 32%;
    display: inline;
    padding: 5px;
    border-radius: 2px;
}