@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200&display=swap');


* {
    background-color: #D5CABD;
    margin: 0;
    padding: 0;
    border: none;
}

header {
    font-family: Bebas neue, sans-serif;
    font-weight: 300;
    padding-left: 5px;
}

h1{
    color: slategray;
}
/* nav bar */

#nav {
    float: right;
    list-style-type: none;
    color: #3a3a3a;
    font-size: 200%;
}

#nav li {
    display: inline;
}

#nav a {
    color:slategray;
}

/* resources page */

#personal {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    text-align: center;
    font-size: 125%;
    padding-top: 100px;
    
}

#resources {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    text-align: center;
    font-size: 125%;
    padding-top: 100px;
    padding-bottom: 50px;
}

#title {
    float: left;
    font-size: 300%;
}


/* sections */

#headers {
    position:relative;

}
.left-heading {
    text-align: left;
    font-size: 125%;
    position: absolute;
}

.center-heading {
    text-align: center;
    font-size: 125%;
}

.right-heading {
    text-align: right;
    font-size: 125%;
    height: 50px;

   
    
}

#help {
    text-align: left;
    padding-left: 5px;
}

#practice {
    text-align: center;
    padding-left: 5px;
}

#how {
    text-align: right;
    padding-left: 5px;

}

/* images */

img {
    height: 300px;
    width: 32%;
    display: inline;
    padding: 5px;
    border-radius: 2px;
}

/* contact page */

form {
    text-align: center;
    height: 500px;
}

#name {
    box-sizing: border-box;
    border-radius: 20%;
}