@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200&display=swap');


* {
    background-color: #D5CABD;
    margin: 0;
    padding: 0;
    border: none;
}

header {
    font-family: Bebas neue, sans-serif;
    font-weight: 300;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 1%;
}

h1{
    color: slategray;
}

p {
  width: 60%;
  line-height: 32px;
  margin-bottom: 36px;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}
/* nav bar */

#nav {
    float: right;
    list-style-type: none;
    color: #3a3a3a;
    font-size: 200%;
}

#nav li {
    display: inline;
}

#nav a {
    color:slategray;
}

/* resources page */

#personal {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    text-align: center;
    font-size: 125%;
    padding-top: 100px;
    
}

#resources {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    text-align: center;
    font-size: 125%;
    padding-top: 100px;
    padding-bottom: 50px;
}

#title {
    float: left;
    font-size: 300%;
}


/* sections - personal */


.left-heading {
    text-align: center;
    position: absolute;
    margin-left: 2%; 

}

.center-heading {
    text-align: center;
    margin-top: -170px;
    margin-left:auto;
}

.right-heading {
    text-align: right;
    margin-top: -170px;
    margin-right: 2%; 
}

#help {
    text-align: left;
    padding-left: 10px;
    margin-top: 48px;
    margin-left: 2%;
}

#practice {
    text-align: center;
    margin-left: 23%;

}

#how {
    text-align: right;
    padding-left: 10px;  
    margin-right: 2%; 
}

/* Resources */

#resources {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    margin-top: auto;
    margin-left: 0 auto;
    margin-right: auto;
    text-align: center;
    
}



#social {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    text-align: center;
    font-size: 125%;
    margin-left: auto;
}



/* images */

img {
    height: 300px;
    width: 25%;
    display: inline-block;
    padding-left: 45px;
    border-radius: 2px;
    margin-left: 80px;
    margin-right: auto;
    margin-bottom: 50px;
}
/* contact page */

input[type=text], select, textarea {
  width: 700px;
  padding: 12px; 
  border: 10px solid rgb(104, 92, 92); 
  border-radius: 2px;
  margin-top: 6%;
  margin-bottom: 16px;
  
}


input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 2px;
  margin-left: 50%;
}

input[type=submit]:hover {
  background-color:darkgreen;
}

label {
  text-size-adjust: 20%;
  height:10%;
  display: block;
}

.container {
  font-family: Bebas neue, sans-serif;
  border-radius: 5px;
  padding: 20px;
  padding-top: 80px;
  align-items: center;
  display: flex;
}

  /* media queries */

  @media screen and (min-width: 320px) {
    img {
        height: 40px;
        width:20%;
        margin: auto;
        margin-bottom: auto;
        margin-left:0 auto;
        margin-right: auto;
        padding-inline: 5%;
        padding-left: 22px;
    }
    #title {
        width:100%;
        text-align: center;

    }
    #nav {
        width: 100%;
        text-align: center;
    }

    body {
        align-items: center;
    }

    #personal {
        width:100%;
        padding-top: 80px;
    }
    input[type=text], select, textarea {
        width:230px;
  }
    
  }
 

  @media screen and (min-width: 481px) {
    img {
        height: 60px;
        width:100px;
        margin-bottom: auto;
        margin-left: 0 auto;
        margin-right: auto;
        padding-inline: 5%;
        margin: auto;
        padding-left: 30px;
    }

    #title {
        width:100%;
        text-align: center;

    }
    #nav {
        width: 100%;
        text-align: center;
    }

    #left-heading, #center-heading, #right-heading {
        width: 100%;
        margin-top: 500px;
    
    }

    #help, #practice, #how {
        width:100%;
    }

    input[type=text], select, textarea {
        width:400px;
  }

  @media screen and (min-width:769px) {
    img {
        height: 100px;
        width:150px;
        margin-bottom: auto;
        margin-left: 0 auto;
        margin-right: auto;
        padding-inline: 5%;
        margin: auto;
        padding-left: 50px;
    }

    #title {
        width:100%;
        text-align: center;

    }
    #nav {
        width: 100%;
        text-align: center;
    }

    #left-heading, #center-heading, #right-heading {
        width: 10%;
    
    }

    #help, #practice, #how {
        width:20%;
        
    }
    input[type=text], select, textarea {
        width:680px;
  }
}

@media screen and (min-width:1024px) {
    img {
        height: 150px;
        width:25%;
        margin-bottom: auto;
        margin-left: 0 auto;
        margin-right: auto;
        padding-inline: 5%;
        margin: auto;
        padding-left: 28px;
    }

    #left-heading, #center-heading, #right-heading {
        width: 30%;
        align-items: inline;
    }

    #help, #practice, #how {
        width:30%;
        
    }
   
    input[type=text], select, textarea {
        width:900px;
  }
 
.container {
    width: 800px;
}

}